[submodule "gplex"]
	path = gplex
	url = https://github.com/IronScheme/gplex.git
	branch = master
[submodule "gppg"]
	path = gppg
	url = https://github.com/IronScheme/gppg.git
	branch = master
[submodule "cecil"]
	path = cecil
	url = https://github.com/IronScheme/cecil.git
	branch = master
